.mainbox {
  background-color: #eef7fb;
  text-align: center;
  padding: 60px 20px;
  font-family: "Segoe UI", sans-serif;
}

.mainbox h1 {
  font-size: 32px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}
.byy {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mainbox p {
  font-size: 18px;
  color: #333;
  margin-bottom: 30px;
}
.mainbox button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.mainbox button:hover {
  transform: translateY(-3px);
}
