/* Hero section container */
.hero {
  background-color: #ffff;
  padding: 0 32px;
  max-width: 100%;
  margin: auto;
}

/* Main flex container */
.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 100px;
  gap: 40px;
}

/* Text area */
.hero-text {
  flex: 1;
  max-width: 550px;
  text-align: left;
}

.hero-text h1 {
  font-size: 3vw;
  font-weight: 700;
  color: #023e8a;
  margin-bottom: 10px;
  white-space: nowrap;
}

.hero-text h1 span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #1c1c1c;
}

.highlight-line4 {
  width: 50px;
  height: 4px;
  background-color: #f9e74a;
  margin: 15px 0;
}

.hero-text p {
  font-size: 1.4rem;
  color: #4a4a4a;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* Button container */
.btton {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}

.btton button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btton img {
  display: block;
  height: 80px;
  width: auto;
}

.hero-image {
  flex: 1;
  min-width: 280px;
  text-align: center;
}

.hero-image img {
  /* width: 803px; */
  height: 850px;

  border-radius: 1200px;
}
