*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Join-page .Join-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  
  
}
.a12{
  width: 60%;

}
.form-img {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
  position: relative;
}
.form-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Join-wrapper{
  position: absolute;
  top: 16px;
  left: 40px;
  z-index: 10
}
.overlaytext{
position: absolute;
    left: 20px;
    bottom: 100px;
    width: 400px;
    background-color: rgba(41, 135, 174, 0.15);
    padding: 1rem;
    backdrop-filter: blur(14px);
    color: white;
    border-radius: 4px;
    font-size: 14px;

} 

.overlaytext h4{
  font-size: 1.5rem;
}
.b12{
  width:40%;
}
.Join-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
.headerJoin{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
.Join-form-top{
  max-width: 440px;
  width: 100%;
text-align: left;
}
.Join-form-top h2 {
  background: -webkit-linear-gradient(#2887af, #3e6588);
  background-clip: text;               
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.Join-form-top span{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);

} 
.input-control{
  width:100%;
  height: 50px;
  border: 1.5px solid rgba(40,135,175,1);;
  border-radius: 6px;
  padding: 0 10px;
  font-weight: 600;
  color: #3e6588;


}

.Join-page .Join-btn{
  margin-top: 1rem !important;
  height: 50px;
  align-items: center;
  background-color: #2887af;
  cursor: pointer;
  color: #fff;
  justify-content: center;
  font-weight: 500;
  display: flex;
  border-radius: 6px;
  width: 100%;
}
.footerJoin{
  margin-top: 20px;
  font-size: 11px;
  max-width: 440px;
}
form{
  display:block;
  margin-top: 0em;
  unicode-bidi: isolate;
  margin-top: 1rem !important;
} 
label{
  display:inline-block;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
} 
a {
    color: rgba(40, 135, 175, 1) ;
    text-decoration: none ;
}
p{
  margin-bottom:1rem;
  margin-top: 0;
}
div {
    display: block;
    unicode-bidi: isolate;
}
button, input{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
button{
  text-transform: none;
  border: none;
}
