.transaction-container {
  width: 100%;
  padding: 30px;
  font-family: "Segoe UI", sans-serif;
  background-color: #fff;
  border-radius: 10px;
}

.transaction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-header h2 {
  color: #296fa8;
  font-size: 24px;
}

.export-button {
  background-color: #2887af;
  color: white;
  border: none;
  padding: 8px 20px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

.tab-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.tab-btn {
  padding: 10px 20px;
  background: white;
  border: 1px solid #2887af;
  color: #2887af;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab-btn.active {
  background: #2887af;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transaction-content {
  margin-top: 80px;
  text-align: center;
  color: #555;
  font-size: 18px;
}
